{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Удаление</h1>
                <hr>
            </div>
        </div>

        <div class="row"><div class="col">
            <form action="{% url 'snippet_delete' snippet.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ snippet.id }}">
                <fieldset>
                    <div class="row disabled">
                        <div class="col col-4">
                            Название:
                            {{ snippet.name }}
                        </div>
                        <div class="col col-4">
                            Язык:
                            {{ snippet.lang }}
                        </div>
                        <div class="col col-4">
                            Дата создания:
                            {{ snippet.creation_date }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                <pre>{{ snippet.code }}</pre>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <div class="offset-4 col-4">
                                    <input type="submit" class="btn btn-danger btn-block" value="Удалить" />
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'snippets_list_my' %}" class="btn btn-secondary btn-block" value="Удалить">Оставить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div></div>
    </div>
{% endblock %}