{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <form class="w-100 px-4 py-3" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col col-8">
                    <input name="username" type="text" class="form-control" placeholder="Username" required>
                </div>
            </div>
            <div class="row">
                <div class="col col-8">
                    <input name="password" type="password" class="form-control"  required>
                </div>
            </div>
            <div class="row">
                <div class="col col-4">
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                </div>
                <div class="col col-4">
                    <a href="{% url 'accounts_register' %}" class="btn btn-secondary btn-block">Новый пользователь</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}