{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Публичный</th>
                        <th scope="col">Пользователь</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snp in snippets %}
                    <tr>
                        <td scope="row">{{snp.id}}</td>
                        <td><a href="{% url 'snippet_detail' snp.id %}">{{snp.name}}</a></td>
                        <td>{{snp.lang}}</td>
                        <td>{{snp.creation_date}}</td>
                        <td>{% if snp.is_public %} Да {% endif %}</td>
                        <td>{{snp.user.username}}</td>
                        <td>
{% if snp.user == request.user %}
                            <a class="btn btn-danger" href="{% url 'snippet_delete' snp.id %}">x</a>
{% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: ?</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}